<%- include("./partials/header") %>

<h1 id="glowh1" class="glow">Gear</h1>

<div id="gearList" class="textWindow">

  <h2 class="title">Live Guitar Rig</h2>

  <table>
    <ul>
      <li>USA Washburn N4 ESA 2007</li>
      <li>KR Guitars Matt Wicklund Signature Model Proto 1</li>
      <li>Dunlop Wah Pedal, Model 95Q</li>
      <li>Digitech Whammy Pedal</li>
      <li>Atomic AmpliFIRE AA6 Digital Modeler</li>
    </ul>
  </table>

  <h2 class="title">Recording Setup</h2>

  <table>
    <ul>
      <li>MSI Modern 15.6" Laptop</li>
      <li>Audient EVO 4 Interface</li>
      <li>Audio Technica M-50 Headphones</li>
      <li>Yamaha HX-7 Monitors</li>
      <li>2016 MacBook Pro 15 w/Touchbar</li>
      <li>Apogee JAM 96K</li>
      <li>Pro Tools</li>
      <li>Reaper</li>
      <li>Nueral DSP Plugins</li>
      <li>Waves Plugins</li>
      <li>Plugin Alliance Plugins</li>
      <li>Fab-Filter PRO-Q 3</li>
    </ul>
  </table>
</div>

<div id="gearPics" class="container textWindow">
  <img src="images/KRMWProto1.jpg" alt="KR MW Proto 1">
  <img src="images/WashburnN4ESA2007.jpg" alt="Washburn N4 ESA">
  <img src="images/Audient-EVO-4-1.jpg" alt="Audient Evo4 Interface">
  <img src="images/MSIModern15.jpg" alt="MSI Modern 15">
  <img src="images/AmpliFIRE-6_angle.png" alt="AmpliFire 6">
  <img src="images/Audio-Technica-M50.jpg" alt="Audio Technica M50">
</div>

<%- include("./partials/footer") %>
