<%- include("./partials/header") %>

<h1 class="glow" id="glowh1">Guitar Lessons</h1>

<div class="textWindow">
  <p>If you would like private Skype Instruciton, please message me directly at mattwicklundlessons@gmail.com. One hour lessons are $50 and include video, tablature and sheet music as needed.</p>
</div>

<div class="blogWindow">
  <h3 class="glowGlobal">Shred Fundamentals</h3>
  <p>I have broken down my approach to playing lead guitar into two basic categories. The first one contains the scales, modes and arpeggios essential to solo playing and the second one is the patterns and sequences to apply to these scales, modes and arpeggios. If you learn everything in category one and apply the patterns from the second category to them, you can have nearly endless licks at your disposal. More importantly, if you adopt this way of thinking about your playing, you can create unlimited new licks of your own. Let’s get started with the first category!</p>
  <h3 class="glowGlobal">SECTION 1: Scales, Modes and Arpeggios</h3>
  <p>First, we will begin by learning the seven church modes in the key of G Major. Please refer to my blog post on Music Theory Fundamentals to learn about what the modes are and where they come from. All seven modes contain the same seven pitches and pattern of intervals. What makes them different is the note they start and end with. There are seven different pitches, so there are seven different possible places to start…giving us seven different but very related “modes”. These modes define and outline the key (in this case G Major).</p>
  <h3 class="glowGlobal">Church Modes</h3>
  <div id="modesList">
    <ul>
      <li>I -Ionian (Major Scale) / G Major</li>
      <li>ii -Dorian / A minor</li>
      <li>iii -Phrygian / B minor</li>
      <li>IV -Lydian / C Major</li>
      <li>V -Mixolydian / D Major</li>
      <li>vi -Aeolian (Natural Minor Scale) / E minor</li>
      <li>viiº  -Locrian / F# diminished</li>
    </ul>
  </div>
  <br>
  <p>Also, by taking the first, third and fifth notes of these modes, we get their corresponding chords. Those are written next to the mode names above as well as a Roman numeral number that indicates wether each one is major, minor or diminished. Major is uppercase, minor is lowercase and diminished is also lowercase followed by a º symbol. Later, we will also see Augmented chords which are uppercase followed by a + symbol.
    Next, we will put the modes into categories to give them more relative meaning.
    Major Modes – Ionian, Lydian, Mixolydian
    Minor Modes – Dorian, Phrygian, Aeolian
    Diminished Mode – Locrian
    If we now take these modes out of key and play them all starting on the same note, we can see how they are similar and different from each other and allowing us to further understand their characteristics and give them more of their own musical identities.
    Now, we will take these modes and raise all occurrences of D to D#. This is the seventh interval of the Aeolian mode. When we do this, we alter the Aeolian mode to what is called “Harmonic Minor”. But, we must also move the D notes up a half step in all occurrences through all of the modes. This will create a new key and different sounding altered modes and chords.
    Minor Pentatonic Scales
    Like the church modes, the minor pentatonic scale also has its own modes. Five notes in the scale, five different starting points.
    It’s also important to note that the minor pentatonic scale is directly related to the Aeolian Mode. In fact, it is the Aeolian mode minus its second and sixth intervals.
    After we get these all down, let’s add the sharp fourth interval to the scale. This is often  referred to as the “blue note” and changes the scale to a 6 note scale or “hexatonic” scale and introduces the sound and scale we call “The Blues Scale”. Another change we can make is to substitute the minor third interval for a major third and then return to the minor third. This is something found often in blues music and will have a very recognizable sound to many.</p>
    <br>
    <p>Stay Tuned for Part II, Shred Patterns...</p>
</div>

<div class= "container textWindow justify-content-center img-fluid">
  <img class="col-sm-12 col-lg-6" src="images/G-Ionian.png" alt="Ionian Mode">
  <img class="col-sm-12 col-lg-6" src="images/A-Dorian.png" alt="Dorian Mode">
  <img class="col-sm-12 col-md-6" src="images/B-Phrygian.png" alt="Phrygian Mode">
  <img class="col-sm-12 col-md-6" src="images/C-Lydian.png" alt="Lydian Mode">
  <img class="col-sm-12 col-md-6" src="images/D-Mixolydian.png" alt="Mixolydian Mode">
  <img class="col-sm-12 col-md-6" src="images/E-Aeolian.png" alt="Aeolian Mode">
  <img class="col-sm-12 col-md-6" src="images/FSharp-Locrian.png" alt="Locrian Mode">
</div>


<div class="textWindow">
  <p>Hello, and welcome to my first guitar lick lesson on my website! This is a quick and fun one mainly playing a triplet pattern in A Harmonic Minor up the neck. I do throw in some odd passing tones for color but that’s what makes it fun! ;). Hopefully you will find this inspiring and it’ll help you to come up with your own cool licks! Remember to check back here often as I plan on challenging myself to come up with these lessons often! Check out the accompanying video to hear it in action! If you enjoy these and would like to show some support and help me to keep them coming, there’s a little virtual tip jar in the form of a coffee cup in the corner!</p>

  <p>As I mentioned above, this passage is primarily in A Harmonic Minor. I played the lick on my guitar tuned one full step down to D Standard which is what I use in GSO. It is, low to high, the notes DGCFAD. It’s the same as E Standard guitar tuning with each string tuned down one whole step (or two semi-tones). I am going to refer to the guitar positions as if I am tuned to standard tuning just to make it easier for navigating to the correct positions on the neck.
    First of all, I’d like to explain what Harmonic minor is to give all of this some meaning! Harmonic minor is a scale or series of intervals that has a very cool and particular sound and vibe. It’s often called an Exotic or Eastern sounding scale because of its raised 7th interval. The scale comes from the Aeolian mode (please refer to the Blog section of my site to review the modes at this point if needed) and is altered by just one note…the aforementioned raised 7th degree. If we compare the Aeolian mode (aka Natural Minor) to the Ionian mode (Major Scale), aside from the obvious character defining placement of the 3rd (Major in Ionian and minor in Aeolian), there is a similar difference in the 7ths. The Ionian mode has a Major 7th degree which sits naturally one-half step below the tonic. This creates a very pleasing and final sounding resolution when moving from the 7th into the tonic of the next octave. But when we look at Aeolian, we have a minor 7th interval which sits one whole step below the tonic. This does not naturally have the same kind of pleasing resolution that we found in the major scale. Since in music, we often write songs and consider both the Ionian and Aeolian modes as home, wouldn’t it be nice if they both could have that nice half-step resolution into the next octave? Apparently, someone long ago thought just that and altered the Aeolian mode to have this desirable feature by moving this 7th interval up one-half step. By doing this though, you are not only shrinking the distance between the 7th and the tonic, you are also creating a bigger distance on the other side of the 7th down to the 6th. Before the move, there was a full step between the two and now there is a step and a half! This larger interval is not found in any of the original church modes and really introduces a new sound and feeling we had not heard before in a scale! Let me illustrate these differences visually below.

    A (Natural Minor) Aeolian: A--B-C--D--E-F--G--A
    
    This is the intervallic step sequence of: whole, half, whole, whole, half, whole, whole.
    
    A Harmonic Minor: A--B-C--D--E-F-–-G#-A
    
    This is the intervallic step sequence of: whole, half, whole, whole, half, step and a half, half.
    
    Go ahead and try it out on the guitar and listen to the difference!</p>

    <video id="AMinDarkLesson" src="videos/Epiphone-A-min-Dark-1.mp4" controls></video>
    
    <p>In the video example above, besides the Harmonic minor scale itself, I snuck in the G natural from the original unaltered Aeolian mode and one instance of D# which is a very dissonant sounding sharp 4th interval just to give the whole passage a little more edge. Inserting these notes that don’t belong in a musical phrase can sound super awesome but it must be done carefully. These in-between notes are sometimes called passing tones since we just use them to “pass” between the others…never really landing on them and hanging out there for too long. More on that coming soon in future lessons!

      Have fun with this and see you all soon for the next lesson!
      
      -MW.</p>
</div>

<%- include("./partials/footer") %>
