<%- include("./partials/header") %>

<!-- Page Contents -->

  <div id="headerWindow" class="container textWindow">
    
        <div>
          <h1 id="headerText" class="glow"><strong><em>MATTHEW WICKLUND</em></strong></h1>
            <div style="margin-top: 22px;">
              <h3><em>APOLLÆON /// // / GHOST SHIP OCTAVIUS</em></h3>
              <h4>Guitarist/Composer/Full-Stack Web Developer</h4>
              <div class="text-center">
                <a id="learnBtn" class="btn btn-lg btn-primary" style="width: 162px;" href="../introToTheory">Start Learning</a>
              </div>
            </div>
          <br>
        </div>
    </div>
      <div class="textWindow">
        <h3 class="glowGlobal">Helping you Learn Guitar, Music Theory and Songwriting.</h3>
        <p>Take your guitar playing and songwriting to the next level with a clear and logical understanding of the enchanting world of music.</p>
        <h3 class="glowGlobal">Mentorship Program</h3>
        <p>Join my Mentorship Program where I will help you and/or your band write, arrange and refine your songs.</p>
        <h3 class="glowGlobal">Guitar as a Tool of Expression</h3>
        <p>Forget about guitar trends and see it for what it truly is...an inspiring tool of your musical expression. Learn to find the right instrument for you based on things that really matter.</p>
        <a class="learnBtn btn btn-lg btn-primary" href="../guitarLessons">Sign Up Now!</a>
      </div>
      <div>
        <img id="mattPhoto1" class="center" alt="Matt Live with Black Rhodes V in Germany" src="images/GSOMattGermany1.jpg">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm d-md-inline textWindow" style="margin: 20px; margin-top: 40px;">
            <h3 class="glowGlobal">"This Changes Everything."</h3>
            <p><em>-Sandra Nimblefingers</em></p> 
          </div>
          <div class="col-sm d-md-inline textWindow" style="margin: 20px; margin-top: 40px;">
            <h3 class="glowGlobal">"I wish I knew about this earlier!!!"</h3>
            <p>-Johnny Shredsalot</p>
          </div>
        </div>
      </div>


  <div>
    <div class="textWindow">
      <h3 class="glowGlobal">Basic Music Theory</h3>
      <p>Learn the fundamentals of music theory clearly and easily with a simple and logical method outlined for the guitar and accompanied by examples from the piano.</p>
      <h3 class="glowGlobal">Getting Creative With Theory</h3>
      <p>Break the mystery behind the odd sounding modal names and chord types to reveal beautiful and extremely useful tools used in music creation.</p>
      <a class="learnBtn btn btn-lg btn-primary" href="../introToTheory">Show me the way!</a>
    </div>
  </div>

<%- include("./partials/footer") %>
