<%- include("./partials/header") %>

<div class="titleWindow">
  <h1 class="glowGlobal">An Introduction to Music Theory:</h1>
  <h2><em>The Big Bang /// // /</em></h2>
</div>

<div class="blogWindow">
    <div>
      Hello guitar and music enthusiasts and welcome to my first blog! I am super excited to have this platform to discuss all of the music related topics that are on my mind each day. Thank you for entering my domain! ;). I will be discussing many topics from guitar playing, to songwriting, composition, arranging, music theory, to the gear I use, touring, the music industry, recording and audio production and anything else that is related to my life as a professional musician. I am hopeful that some of these topics will help and inspire some of you!
    </div>
    <br>
    <div>
      For my first installment, I would like to talk about music theory and its role in my life as a guitarist and composer and to discuss something in specific that I have seen time and time again as a guitar teacher around the world. People often learn to play the guitar, start bands and even start writing songs without knowing a lick of theory. In fact, at one point in time, I was one of them! I remember as a young guitarist hearing people even say that learning theory wasn’t important and that it would even destroy my creativity. This couldn’t be further from the truth! Is it that people are afraid of music theory because it seems intimidating with it’s mystical and unfamiliar names for things and just seems impossible to learn? Maybe it’s just easier to pick up the guitar and hunt and peck your way around, hoping to land on something musical? I think some of these things may have been true for me but I remained curious. Eventually, I found myself in love with classical music and the desire to study and understand it lead me into taking Music Theory classes at my local Community College. This time of study changed my life and opened my mind (and ears) to the beautiful, magical, logical, mathematical and emotional language of music. Not only is it fascinating and really fun to learn, it made me actually enjoy and appreciate music as a whole even more that I had before. I think the real problem lies in the lack of education that exists in many parts of the world regarding music. I would like to show you all how really simple and logical it is to begin learning and exploring this! Once it “clicks” and you can see how it all works and fits together, I guarantee you will have a wonderful moment of epiphany and you will feel that warm, lightbulb of music light up in your mind!
    </div>
    <br>
    <div>
      The BIG BANG.
      <br>
             So, let’s get started. To begin understanding music theory, you just need to learn about one little scale that contains seven unique notes. From this little and familiar sounding scale and through its tricky arrangement of intervals, we can derive all of the information needed to develop a complete key of music with all of its chords, scales and potential melodies and harmonies that live within it. It seems kind of crazy but it’s true! This scale is commonly known as “The Major Scale”. Do Re Mi Fa So La Si Do. Most of us have heard this and can even sing it accurately without much thought or effort. The basis of theory lies within you! This scale is also referred to as the “Ionian Mode”. Now, this for some is where it starts to get scary but don’t be afraid or dissuaded! Music is full of these foreign sounding terms (at least to native English speakers) but their meanings are relatively simple and extremely logical.
             On the piano, it is very easy to begin this study in the Key of C Major. This is because all of the white keys are used and the black ones are ignored. Staring on the note C (or Do) and moving upward until we reach the next C, playing only the white keys, you will play the C Major Scale (C Ionian). Now, let’s pay attention to the intervals. This is the magical pattern that gives light and meaning to the whole thing! The pattern is: Whole, Whole, Half, Whole, Whole, Whole, Half. A whole step is the distance of two intervals (or keys, frets) and a half step is just the distance of one key to the next or one fret to the next on the guitar. C (whole) D (whole) E (half) F (whole) G (whole) A (whole) B (half) C. Pretty simple, right?
      <br>
      Imagine having these 7 notes repeating on a wall infinitely in both directions. Something like this:
      <br>
      C–D–E-F–G–A–B-C–D–E-F–G–A–B-C–D–E-F–G–A–B-C–D–E-F–G–A–B-C
      <br>
      (The double dash indicates a whole step and the single dash indicates a half step.)
      <br>
             If I play from C to C in any octave, I will always get the same set of intervals and the same sounding scale throughout all of the octaves. BUT, using the same set of seven unique notes on the wall, what happens if I start on D and play to the next D? It produces a completely different arrangement of intervals!
      <br>
      D–E-F–G–A–B-C–D or Whole, Half, Whole, Whole, Whole, Half, Whole
      <br>
      This new scale is called D Dorian. It is what is known as the Second “Mode” in the key of C Major.
      <br>
      We can continue to do this same thing by starting on each of the seven different notes from the C Major scale until we get seven different sounding modes which have their own unique arrangement of intervals derived from the pattern we see on the wall!
      <br>
      Here they are with their (not so scary anymore) names: ;).
    </div>
    <br>
    <div>
      (I) Ionian – C–D–E-F–G–A–B-C
     <br>
     (ii) Dorian – D–E-F–G–A–B-C–D
     <br>
     (iii) Phrygian – E-F–G–A–B-C–D–E
     <br>
     (IV) Lydian – F–G–A–B-C–D–E-F
     <br>
     (V) Mixolydian – G–A–B-C–D–E-F–G
     <br>
     (vi) Aeolian – A–B-C–D–E-F–G–A
     <br>
     (vii⁰) Locrian – B-C–D–E-F–G–A–B
    </div>
    <br>
    <div>
      You may have noticed that above in each of the modes, I made the odd intervals bold. This is where the next pattern comes into play! If I play the first, third and fifth notes from each mode, I will get a chord! Each mode gives birth to its own chord! All of this information comes from that one little scale. Pretty cool right? Now we have all of the information we need to build the “Key”. We will start by building the basic forms of the chords with intervals one, three and five from each mode as this will give us basic major and minor sounding chords, with one odd but important sounding “diminished” chord.
      <br>
      Now let’s take this over to the guitar. Since the guitar’s range is different than the piano and for another reason I’ll explain later, I like to move all of this up to the Key of G Major. All of the same logic and understanding stays the same. We just move everything up in pitch so that it starts on the note G which is located on the third fret of the low E String.
      <br>
      The same pattern of WWHWWWH starting on G gives us the notes:
      <br>
      G–A–B-C–D–E–F#-G
      <br>
      Next, we put those notes on the wall and find our seven different modes. The pattern remains the same, it’s just where you start and finish that creates the different modes. When you look at the wall of notes repeating in both directions, it’s easy to see that it’s just one repeating pattern that goes on and on forever. The results are as follows:
    </div>
    <br>
    <div>
      G Ionian:                 G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G
      <br>
      A Dorian:               G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G
      <br>
      B Phrygian:           G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G
      <br>
      C Lydian:               G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G
      <br>
      D Mixolydian:       G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G
      <br>
      E Aeolian:             G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G
      <br>
      F# Locrian:          G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G–A–B-C–D–E–F#-G
      <br>
      The intervals 1, 3, and 5 have been highlighted in red to show the chord tones from each mode. So the chords we can play in this key are:
      <br>
      G Major: G B D
      <br>
      A minor: A C E
      <br>
      B minor: B D F#
      <br>
      C Major: C E G
      <br>
      D Major: D F# A
      <br>
      E minor: E G B
      <br>
      F# diminished: F# A C
      <br>
      Now that we understand how a key is formed from this little pattern, it’s time to learn the fingering for it on the guitar. I believe that the best way to do this is by using three notes per string and building seven different and easy to memorize shapes. After you learn this, and most importantly understand how it all works, you will be unstoppable!
      <br>
      So as you can see, much like the Big Bang, the world of music begins to explode outward from one simple pattern of intervals. It’s basic and beautiful in form and blooms into a nearly neverending world of possibilities. Please let me know if you find this interesting and inspiring and if you’d like to explore this deeper and discuss it one-on-one, please message me to book a private Skype Lesson! The time to learn is now! mattwicklundlessons@gmail.com
      <br>
      See you all soon!
    </div>
    <br>
    <div>
    -Matt Wicklund.
    </div>
</div>

<%- include("./partials/footer") %>
