<%- include("./partials/header") %>

<h1 class="glow" id="glowh1">Linux</h1>

<div class="textWindow">
    <div>
        <img id="tuxPenguin" src="images/linux-logo.png" alt="Tux Pinguin Linux Logo">
    </div>
<p>
    Some of my other interests include Web Development, Computer Programming and Linux. I do all of my programming and Web Development in Linux and have started building an audio recording setup in Linux as well. "Why Linux?", you may ask. It's an operating system that is based on the use of free and open source software that is developed and maintained by its community of users and supporters. In the Linux world, you are not merely a consumer, but part of a group of contributors. The community thrives from the involvement and contributions of all. It is secure, fast and transparent. People get involved because they believe in the principals and its success and development is largely passion driven rather than profit driven. I like this system and philosophy. It encourages people to learn and you have complete control over every aspect of what you are doing. If you are interested in learning more about Linux and especially how to use it as a Developer and a Musician, please check out the following links.
</p>
<p>So, say you want to give it a try. Where to begin?! First, you will need a computer where you can setup an operational Linux System. This is where Linux is extremely flexible. You can breathe new life into an old outdated laptop with Linux, run it on a new state of the art machine or something really small and simple like a Raspberry Pi or other varieties of single board computers. Or, might I suggest trying all of the above! You will need a dedicated drive or drive partition to install Linux and then you are off to the races. I run Linux alongside Windows in a new MSI Modern 15 PC Laptop. Each OS gets its own 500gb SSD drive internally to keep them seperated. Windows doesn't really like to share as I have seen, so this method was the most practical for me. I still do need to use Windows or MacOS for a few pieces of Software that Linux doesn't have adequate alternatives for just yet. But, hopefully that will change in the near future. It's basically just for the large sample libraries that I use for compositon. I have recently found some open source alternatives that I am going to be investigating and testing.</p>
<p>Now, you will need to choose a distribution (version) of Linux to install. There are literally hundreds of options and many of them are perfectly suited for the job. There are some that are optimized for audio and video work such as AV Linux and Ubuntu Studio and this is a great route to choose especially if you want to get started quickly. However, if you are up for the challenge, I would recommend trying Manjaro. I say this because Manjaro has an excellent package manager, access to the Arch Repositories and has the ability to run your Kernel of choice. You can get the newest, latest and greatest Kernel with all of the newest drivers and there are versions known as Low Latency Kernels that will allow you to get even lower levels of latency for your recordings. Pretty cool stuff.

<ul>
    <li><a href="https://www.manjaro.org" target="_blank">www.manjaro.org</a></li>
    <li><a href="https://itsfoss.com/" target="_blank">www.itsfoss.com</a></li>
    <li><a href="https://ardour.org/" target="_blank">www.ardour.org</a></li>
    <li><a href="https://jackaudio.org/" target="_blank">www.jackaudio.org</a></li>
</ul>

<%- include("./partials/footer") %>
