<%- include("./partials/header") %>

<div class="textWindow">
  <h3>Thank you!!! You will be of the first to know about any new music, tours, lessons or other announcements.</h3>

  <a class="btn btn-md btn-primary" href="/">Return Home</a>
</div>


<%- include("./partials/footer") %>
